<div class="custom-form">
	<fieldset>
		<legend>Create Technology</legend>
		<app-form-field [labelText]="'Name'" [placeholder]="'Ex: Java'"
			(notifyValueChange)="updateName($event)"></app-form-field>

		<app-form-field [labelText]="'Description'" [placeholder]="'Ex: Not python'"
			(notifyValueChange)="updateDescription($event)"></app-form-field>

		<div class="form__button">
			<app-button [buttonText]="'Add'" (buttonClicked)="handleClick()"></app-button>
		</div>

		<div class="form__result-message">
			<p>{{resultMessage}}</p>
		</div>
	</fieldset>
</div>
