.custom-input-text {
	color: var(--dark-color);
	text-transform: capitalize;

	& span {
		font-weight: bold;
		font-size: 0.8rem;
	}

	& input {
		box-sizing: border-box;
		background-color: var(--medium-color);
		color: var(--dark-contrast-color);
		border-radius: var(--button-corners);
		border: 1px solid var(--dark-color);
		height: 2em;
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
	}
}
