<!-- <app-template-picker>
	<router-outlet></router-outlet>
</app-template-picker> -->

<!-- <app-library> -->
	<!-- <router-outlet name="one"></router-outlet>
	<router-outlet name="two"></router-outlet> -->
<!-- </app-library> -->

<router-outlet></router-outlet>
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-modal [title]="'Crear Tecnología'" [buttonText]="'Crear'">
	<app-add-technology-form ></app-add-technology-form>
</app-modal> -->
<!-- <app-dropdown-tag-holder></app-dropdown-tag-holder> -->
<!-- <app-add-technology-form></app-add-technology-form> -->
<!-- <app-add-capability-form></app-add-capability-form> -->
<!-- <app-button-with-value [buttonText]="'Crear'" [buttonValue]="'create'"></app-button-with-value> -->
<!-- <app-add-bootcamp-form></app-add-bootcamp-form> -->
