/* You can add global styles to this file, and also import other style files */
:root {
	--light-color: #f4e6c4;
	--medium-color: #f4a261;
	// --dark-color:#c35f46;

	--light-contrast-color: #2a9d8f;
	--dark-contrast-color: #264653;

	--white-color: #FFFFFF;
	--dark-color: #E7833D;
	--dark-color-transparent: #E7833D55;
	--light-color: #FFFCFB;
	--medium-color: #FDF1E9;

	--button-corners: 1em;

	font-size: 18px;

	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	background-color: var(--light-contrast-color);
}
